body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: grid;
    background-color: #333;
    grid-template-columns:60px auto  ;
    color: #fff;
    padding-left: 10px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.nav,a{
    display: flex;
    color: #fff;
    padding-right: 60px;
    justify-content: space-between;
}
a{
    color: #fff;
    text-decoration: none;
    
}
.hero{
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color:silver;
}
.service{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color:silver;  
    padding-top: 5px; 
    height: 30px;
}
.services{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin:0 20px;
    column-gap:10px ;
    margin-bottom: 20px;
}
.testimonial{
    display: flex;
   justify-content: center;
   align-items: center;
    background-color:silver;
   
}
.testimonials{  
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 30px 30px;
    
    margin:0 20px;
    gap:10px ;
    margin-bottom: 15px;
}
.contact{
    display: grid;
    justify-content: center;
    align-items: center;
    
    background-color:silver; 
    height: 250px;
}
.contact form{
    display: grid;
    justify-content: space-around;
    
}
label{
    margin: 10px 0px;
}
button{
    margin: 10px 0px;
}
.footer{
    
    display: grid;
    text-align: center;
    background-color: #333;
    grid-template-columns: 1fr 1fr;
}
.footer-links{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
   padding-left: 40px;
}